name: Deploy to PythonAnywhere

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Trigger PythonAnywhere deploy
        run: |
          curl -X POST "https://www.pythonanywhere.com/api/v0/user/${{ secrets.Tursunxon}}/consoles/" \
          -H "Authorization: Token ${{ secrets.e711d8ec3b8224c911a44ae2a6f9f621fcf9716b }}" \
          -d "executable=bash" \
          -d "arguments=-c 'cd ~/axb_ki_market && ./deploy.sh'"
